<h1>Stupid Coaching</h1>
<h2>Ask your coach anything:</h2>
<form action="answer" data-turbo="false">
  <input type="text" name="question" value="<%= params[:question] %>">
  <input type="submit" value="Ask!">
</form>
